{% set dropdown = dropdown|default(true) %}
<ul class="menu {{ class }}">
	{% for item in menu.get_items %}
		<li class="{{ item.classes|join(' ') }}{% if item.current %} active{% endif %}{% if item.children %} dropdown{% endif %}">
			<a href="{{ item.link }}" target="{{ item.is_external ? '_blank' : '_self' }}" class="{% if item.children %} dropdown-toggle{% endif %}" {% if item.children %} data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" {% endif %} title="{{ item.title|e('html_attr') }}">
				{{ item.title }}
				{% if item.children and has_dropdown %}
					<span class="caret"></span>
				{% endif %}
			</a>
			{% if item.children %}
				<ul class="sub-menu{% if 'nav' in class and dropdown %} dropdown-menu{% endif %}">
					{% for child in item.children %}
						<li class="{{ item.classes | join(' ') }}">
							<a href="{{ child.link }}" target="{{ item.is_external ? '_blank' : '_self' }}" title="{{ child.title|e('html_attr') }}">{{ child.title }}</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
</ul>
